{% extends "layout.tmpl" %}
{% if not rootPath %}
  {% set rootPath = "" %}
{% endif %}

{% block scripts -%}
<script src="{{rootPath}}src/vendor/coquette.js"></script>
<script src="{{rootPath}}src/roborampage.js"></script>
<script src="{{rootPath}}src/thimble-focus.js"></script>
{%- endblock %}

{% block content -%}
<h1>ROBORAMPAGE</h1>
<a class="help" href="what.html"><small>What is this?</small></a>
<div class="container">
  <canvas id="canvas" tabindex="1"></canvas>
  <h1 id="message"></h1>
</div>
<p>The robots are after you! Get them to crash before they get you.</p>
<section class="play">
  <h2>Play It</h2>
  <dl>
    <dt>▲</dt>
    <dt>◀</dt>
    <dt>▼</dt>
    <dt>▶</dt>
    <dd>to move</dd>
    <dt>Shift</dt>
    <dd>to run</dd>
    <dt>Space</dt>
    <dd>to teleport</dd>
  </dl>
</section>
<section class="hack" id="hack">
  <h2>Hack It</h2>
  <p>Hack the game <a href="https://thimble.webmaker.org/project/{{thimble.mainId}}/remix">in Thimble</a> or follow one of these tutorials:</p>
  <ul>
    <li><a href="https://thimble.webmaker.org/en-US/project/{{thimble.colorId}}/remix">Choose your colors</a></li>
    <li><a href="https://thimble.webmaker.org/en-US/project/{{thimble.graphicsId}}/remix">Add your own graphics</a></li>
    <li><a href="#">Create player abilities</a> <small>Coming soon</small></li>
    <li><a href="#">Change the robot AI</a> <small>Coming soon</small></li>
  </ul>
</section>
{% block last -%}
{%- endblock %}
<section class="attribution">
  <small><a href="http://coquette.maryrosecook.com/">Coquette framework</a> by Mary Rose Cook</small>
  <small>ROBORAMPAGE by <a href="https://twitter.com/stenington">@stenington</a></small>
</section>

{% block main -%}
<script>
function showMessage(msg) {
  var el = document.getElementById('message');
  el.style.display = "initial";
  el.textContent = msg;
}

window.addEventListener('load', function() {
  new Game({
    width: 500,
    height: 500,
    background: "#002b36",
    enemies: 10,
    player: {
      center: { x: 250, y: 250 },
      size: { x: 9, y: 9 },
      speed: { walk: 2.4, run: 3.6 },
      colors: { alive: "#2aa198", dead: "#2aa198" }
    },
    robot: {
      size: { x: 9, y: 9 },
      speed: { walk: 2.6 },
      attackStrategy: 'compass',
      waitStrategy: 'roam',
      colors: { alive: "#d33682", dead:  "#dc322f" },
    },
    win: function () {
      showMessage("You win!");
    },
    lose: function () {
      showMessage("You lose.");
    }
  });
});
</script>
{%- endblock %}
{%- endblock %}